@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: birder-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  transition:
    color 0.3s,
    background-color 0.3s;
  min-height: 100vh;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

*:disabled {
  cursor: not-allowed;
}

select:disabled,
input:disabled {
  background-color: ##e5e7eb !important;
  color: ##6b7280 !important;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid #16a34a;
  outline-offset: -1px;
}

input[inputtype='datepicker'] {
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  padding: 1rem 1.25rem;
  padding-left: 3rem;
  font-size: 1.25rem;
  color: #1f2937;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

input[inputtype='datepicker']:focus {
  border-color: #10b981;
  ring-color: #10b981;
}

input[inputtype='datepicker']:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
